@page "/"
@inject MtgInventoryService InventoryService
@using MtgInventoryBlazor
@inject IToastService toastService

<h1>@totalCount</h1>
Database initialized: @InventoryService.IsDatabaseInitialized

Welcome to your new app.

<button class="btn btn-info" @onclick="@(() => toastService.ShowInfo("Welcome to TheCodehubs"))">Info Toast</button>
<button class="btn btn-success" @onclick="@(() => toastService.ShowSuccess("You are sign up successfully!"))">Success Toast</button>
<button class="btn btn-warning" @onclick="@(() => toastService.ShowWarning("You are about to leave website!"))">Warning Toast</button>
<button class="btn btn-danger" @onclick="@(() => toastService.ShowError("Oops! Error has occured"))">Error Toast</button>
@code
{
    private string totalCount = "not set";

    private void CalculateCardCount()
    {
        totalCount = InventoryService.Dummy;
    }
    
    protected override async Task OnInitializedAsync()
    {
        CalculateCardCount();
    }
}
